image: Visual Studio 2022
environment:
  DOTNET_NOLOGO: true
  DOTNET_CLI_TELEMETRY_OPTOUT: true
  DOTNET_SKIP_FIRST_TIME_EXPERIENCE: true
build_script:
- pwsh: |
      Invoke-WebRequest "https://dot.net/v1/dotnet-install.ps1" -OutFile "./dotnet-install.ps1"
      ./dotnet-install.ps1 -JSonFile global.json -Architecture x64 -InstallDir 'C:\Program Files\dotnet'
- dotnet build src --configuration Release
- dotnet test src/LocalDb.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
- dotnet test src/EfClassicLocalDb.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
- dotnet test src/EfLocalDb.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
- dotnet test src/EfLocalDb.NUnit.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
- dotnet test src/EfLocalDb.Xunit.V3.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
- dotnet test src/EfLocalDb.MSTest.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
- dotnet test src/EfLocalDb.TUnit.Tests --configuration Release --no-build --no-restore
- pwsh: sqllocaldb info | ForEach-Object { sqllocaldb stop $_ ; sqllocaldb delete $_ }
on_failure:
  - ps: Get-ChildItem *.received.* -recurse | % { Push-AppveyorArtifact $_.FullName -FileName $_.Name }
test: off
artifacts:
- path: nugets\*.nupkg